.container {
    font-family: 'Montserrat', sans-serif;
    background-color: #0E1014;
    color: #E4E5EA;
    max-width: 1440px;
    height: 100%;
    padding: 52px 262px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 38px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}

h3 {
   color: rgba(101, 101, 102, 1)
}

p {
    font-size: 12px;
    letter-spacing: 0.5px;
}

a {
    color: #E4E5EA; 
}

                                                        /* HEADER */
header {
    display: flex;
    justify-content: space-between;
} 

header a {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

figure {
    width: 156px;
}

.logo {
    height: 20px;
}

figcaption {
    font-size: 10px;
}

.icon {
    width: 15px;
    height: 15px;
    margin-right: 22px;
}

.icon__last {
    margin-right: 0;
}
                                                   
.header-nav {
    display: flex;
}
.header-ul {
    display: flex;
}

.header-li {
    margin-right: 24px;
}

.header-li:last-child{
    margin-right: 0;
}

.header-tel {
    margin-right: 47px;
    vertical-align: text-top;
}

                                                        /* MAIN */
main {
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
}

.main-hero {
    width: 362px;
}

.hero-h1 {
    font-weight: 400;
    margin-bottom: 30px;
}

.hero-h1__colorful {
    font-weight: 900;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.hero-h2 {
    font-weight: 400;
    font-size: 14px;
}

.main-benefits {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.benefits-h2__colorful {
    font-weight: 700;
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 0.08em;
}

.benefits-h2 {
    font-weight: 500;
    text-align: right;
    font-size: 14px;
    margin-top: 12px;
}

.benefits-div__top {
    margin-top: 36px;
}
.main-benefits__columns {
    display: flex;
    text-align: right;
}

.main-benefits__left {
    margin-right: 26px;
}

.main-button {
    background-color: rgba(64, 119, 243, 1);
    color: #E4E5EA;
    padding: 18px 31px;
    margin-top: 50px;
    margin-bottom: 98px;
    font-size: 12px;
}

.columns-h2 {
    margin-top: 30px;
    margin-bottom: 6px;
    font-size: 14px;
}

                                                       /* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
} 

.footer-h3 {
    margin-bottom: 17px;
    font-size: 12px;
}

.footer-li {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    font-size: 12px;
}

.footer-nav {
    display: flex;
}

.footer-links__left {
    margin-right: 52px;
}

.footer-about {
    margin-right: 12px;
}

.footer-contacts {
    margin-left: 63px;
    text-align: right;
}

.footer-a {
    margin-bottom: 15px;
    font-size: 13px;
    letter-spacing: 0.7px;
}

.address-p {
    margin-bottom: 58px;
}

.footer-icon {
    margin-right: 4px;
}

.footer-security {
    font-size: 10px;
    letter-spacing: 0;
}
                                                        /* SHAPES */
.red-light {
    position: absolute;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;

    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}

.purple-light {
    position: absolute;
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;

    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
}

.red-ball1 {
    position: absolute;
    border-radius: 50px;
    width: 22px;
    height: 22px;
    left: 822px;
    top: 442px;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
}

.red-ball2 {
    position: absolute;
    border-radius: 50px;
    width: 62px;
    height: 62px;
    left: 560px;
    top: 70px;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
}

.purple-ball {
    position: absolute;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    left: 844px;
    top: 0px;

    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
}

                                                        /* MOBILE */
@media (max-width: 480px) {
    h1 {
        font-size: 36px;
        line-height: 43px;
    }
    
    header a {
        font-size: 12px;
    }

    .container {
        padding: 15px;
        display: block;
    }

    header {
        height: 55px;
    }

    .header-container {
     
        align-items: center;
    }

    .header-li {
        text-transform: uppercase;
        margin-right: 18px;
        margin-bottom: 3px;
    }

    figure, .header-contacts, .header-li:last-child,  .main-button {
        display: none;
    }

    main {
        margin-top: 0;
        background-image: url("../img/glass.png");
        height: 445px;
    }
    .main-hero {
        width: 100%;
    }

    main, footer {
        display: block;
    }

    .main-container {
        padding-top: 42px;
    }

    .hero-h1 {
        margin-bottom: 16px;
    }

    .hero-h2 {
        font-size: 17px;
        letter-spacing: 0.03em;
        font-family: 'Montserrat', sans-serif;
        line-height: 23px;
    }

    .main-benefits {
        width: 100%;
        margin-top: 36px;
        align-items: flex-start;
    }

    .main-benefits__mobile {
        display: flex;
        margin-top: 20px;
    }

    .columns-h2 {
        font-size: 13px;
        margin-top: 2px;
        font-family: 'Montserrat', sans-serif;
    }

    .columns-h2__bottom {
        margin-top: 14px;
    }

    .main-benefits__left {
        margin-top: 0px;
        margin-right: 6px;
    }

    .main-benefits__right {
        margin-top: 0px;
    }

    .benefits-h2 { 
        font-size: 16px;
        letter-spacing: 0.06em;
        line-height: 20px;
    }

    .benefits-h2, .footer-contacts {
        text-align: left;
    }

    .benefits-h2__colorful {
        text-transform: lowercase;
        
    }

    .main-benefits__columns {
        display: none;
    }

    .shapes-mobile {
        display: block;
    }

    .shapes {
            display: none;
    }

    .purple-light-mobile {
        position: absolute;
        width: 259px;
        height: 259px;
        left: 258px;
        top: 107px;

        background: #833AB4;
        opacity: 0.5;
        filter: blur(196px);
    }

    .red-light-mobile {
        position: absolute;
        width: 211px;
        height: 210px;
        left: -55px;
        top: 241px;

        background: #961A1A;
        opacity: 0.5;
        filter: blur(196px);
    }

    footer {
        height: 585px;
    }

    .footer-about {
        margin-top: 42px;
    }

    .footer-h3 {
        margin-bottom: 23px;
        margin-top: 30px;
    }

    .about-links {
        font-family: 'Inter', sans-serif;
    }

    .footer-links__right {
        display: flex;
        flex-flow: column;
    }

    .footer-direction1 {
        order: 1;
    }

    .footer-direction2 {
        order: 2;
    }

    .footer-direction3 {
        order: 3;
    }

    .footer-direction4 {
        order: 4;
    }

    .footer-direction5 {
        order: 5;
    }


    .footer-a {
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        letter-spacing: 0px;
    }

    .footer-a__mobile {
        display: block;
        margin-top: -10px;
    }
    
    .footer-a__desktop {
        display: none;
    }

    .footer-contacts {
        margin-left: 0;
    }

    .footer-icon {
        width: 24px;
        height: 24px;
    }
    .address-p {
        margin-bottom: 50px;
    }

    .footer-security {
        font-size: 13px;
    }
}

